
.radio{
    
    display: flex;
    flex-direction: row;
    font-size:larger;
}
  

.btn-group .option{
    text-align: left;
    width: 200px;
    display: block;
}
.row{
    height: 500px;
    justify-content: center;
    align-items: center;
}
.d-flex{
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    border: 1px solid #000;

}
.form-control{
    border: 1px solid black;
}
.breg{
    display: flex;
    justify-content: center;
}

.ptag{
    display: inline-block;
}

.heading{
    font-size: 30px;
    font-weight: 500;
    width: 500px;
    margin: 0 auto;
    text-align: center;
}